<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="lightTheme" onload="changeTheme(false)">
    <header>
        <div class="d-flex justify-content-around ">
            <div class="d-flex col-8 justify-content-between align-items-center">
                <div class="header-content">
                    <div class="d-flex justify-content-around">
                        <a asp-area="" asp-controller="home" asp-action="index"><img class="logo" alt="logotype" src="~/img/Logo-1.png"/></a>
                        <ul class="nav col-lg-auto me-lg-auto mb-2 mb-md-0 align-items-center">
                            @{
                                string navLinkClass = "nav-link link-secondary text-black-50";
                            }
                            <li class="pl-3"><a asp-area="" asp-controller="home" asp-action="about" class="@navLinkClass"><div class="nav-item-home">О нас</div></a></li>
                            <li class="pl-3"><a asp-area="" asp-controller="home" asp-action="solutions" class="@navLinkClass"><div class="nav-item-solution">Решения</div></a></li>
                            <li class="pl-3"><a asp-area="" asp-controller="home" asp-action="clients" class="@navLinkClass"><div class="nav-item-clients">Клиенты</div></a></li>
                            <li class="pl-3"><a asp-area="" asp-controller="home" asp-action="contact" class="@navLinkClass"><div class="nav-item-contact">Контакты</div></a></li>
                            <li class="pl-3">
                                <a asp-area="" asp-controller="Home" asp-action="Contact"><div class="btn btn-primary"><div class="btn-contact">Связаться</div></div></a>
                            </li>
                            <li class="pl-3"><div class="nav-item-button" onclick="changeTheme(true)"><img src="~/img/dark-theme.png" class="btn-change-theme" /></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
        <div class="pb-5"></div>
    </div>

    <footer class="border-top footer text-muted p-4">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><p class="footer-text">&copy; 2022 - "ООО Т-ДЖИН"</p></a>
                </div>
                <div class="footer-text">Номер телефона: +7 (999) 999 99-99</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/chart/lib/liteChartrt.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
